aiofiles==0.6.0
poetry==1.2.0
celery>=5.2.2
fastapi==0.108.0
Jinja2==2.11.3
pytest==6.2.4
redis==4.6.0
requests
uvicorn[standard]
alembic==1.7.1
asyncpg==0.24.0
sqlmodel
psycopg2-binary==2.9.1
aioredis
fastapi-cache2[redis]==0.2.1
gunicorn
eospyabi
discord-webhook
python-multipart
markupsafe==2.0.1